body,
body *,
body *::before,
body *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;

	background: transparent;

	font-family: inherit;
	text-decoration: none;
	outline: none;
}

ol,
ul,
li {
	display: block;

	list-style: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

a img {
	border: none;
}

button,
a {
	cursor: pointer;

	color: inherit;
}

textarea {
	resize: none;
}

button,
input,
textarea,
select {
	appearance: none !important;
	-webkit-appearance: none !important;

	border-radius: 0;
}

body {
	width: 100%;
	min-height: 100vh;

	background-color: #ffeedf;

	font-family: "Space Grotesk", sans-serif;
	color: #145434;
}

header {
	width: 100%;
	height: 60px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0px 10px;
	border-bottom: 1px solid #145434;

	h1 {
		font-size: 36px;
	}
}

#root {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	max-width: 1200px;

	margin: 30px auto 90px;

	.card {
		position: relative;

		width: 400px;
		min-height: 250px;
		background-color: #145434;

		margin: 30px;
		padding: 40px 40px 60px;

		color: #ffeedf;

		.number {
			position: absolute;
			top: -20px;
			left: -20px;

			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;

			border: 2px solid #145434;
			border-radius: 50%;
			background-color: #ffeedf;

			font-size: 24px;
			color: #145434;
		}

		h2 {
			min-height: 90px;

			padding-bottom: 10px;
			border-bottom: 1px solid #ffeedf;

			font-size: 36px;
			font-weight: 400;
		}
		p.sub {
			margin-top: 10px;

			font-size: 18px;
			font-weight: 400;
		}
		p.text {
			margin-top: 2px;

			font-size: 18px;
			font-weight: 700;
		}

		button {
			position: absolute;
			right: -12px;
			bottom: -12px;

			width: 200px;
			height: 50px;

			border: 2px solid #145434;
			background-color: #ffeedf;

			font-size: 14px;
			color: #145434;

			&:hover {
				border: 2px solid #ffeedf;
				background-color: #145434;

				color: #ffeedf;
			}
		}
	}
}
